useDynLib(qrqc, .registration=TRUE)
import(reshape)
import(testthat)
import(RColorBrewer)
import(Rsamtools)
import(brew)
import(xtable)

export(readSeqFile)
export(plotQuals)
export(plotBases)
export(plotSeqLengths)
export(plotGC)
export(makeReport)

