useDynLib(qrqc)
import(reshape)
import(testthat)

export(readSeqFile)
export(plotQuals)
export(plotBaseProps)
export(plotBaseFreqs)
export(plotBaseProps)
export(plotSeqLengths)
export(QUALITY.CONSTANTS)
export(binned2quantilefunc)
export(binned2boxplot)
export(qualMCLowess)

